# compiled output
/challenge-api/dist
/challenge-api/node_modules

# Logs
logs
*.log
/challenge-api/npm-debug.log*
/challenge-api/pnpm-debug.log*
/challenge-api/yarn-debug.log*
/challenge-api/yarn-error.log*
/challenge-api/lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json